Reseteo */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Permanent Marker', cursive;
}

ul {
    list-style: none;
}

.header {
    height: 100px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    padding: 1rem;
    position: relative;
}

.header__contenedor {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}




.header__marca {
    height: 50px;
    width: 50px;
}

.header__marca img {
    height: 100%;
}

.nav__lista {
    display: flex;
}

.nav__item {
    margin-left: 1rem;
}

.nav__enlace {
    color: #000000;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.nav__item--orden {
    order: 0;
}

.nav__enlace--activo {
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
}

/* Hero */

.hero {
    padding: 1rem 1rem;
}

.hero__contenedor {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}

.hero__cardd{

text-align: center;
}




.hero__icono {
    color: #ff0000;
    font-size: 30px;
}

/* Footer */

.footer {
    padding: 2rem 1rem;
}

.footer__contenedor {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    font-size: 12px;
}

.footer__copy a {
    color: #ff0000;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style:solid;
}
.contenedor{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    
    
    display: grid;
    grid-template-columns: 3fr;
    gap: 20px;
}

.contenedor-viajes{
    
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    

}
.cardt{
    border-radius: 10px;
    min-height: 200px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;


}
.banner{
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    background-size: cover;
    background-position: center center;

    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
}

.cardt .texto{
    height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;


}

.grid_container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 0;
    
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: minmax(200px,auto);
    gap: 20px;
    
}
.grid_item{
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: aqua; */
    border-radius: 4px;
    transition: transform 0.3s ease-in-out

    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;

}
.grid_item:hover{
    filter: opacity(0.9);
    transform: scale(1.04);
}
.colcontenedor{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
}
.row_contenedor{
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    position: relative;
    
    
}
.row__contenedor{
    display: flex;
    gap: 50px;
}


/* Tablet */
@media screen and (max-width: 1024px) {
    .header {
        height: auto;
    }
        
    .header__contenedor {
        flex-direction: column;
    }

    .hero__contenedor {
        flex-direction: column;
    }

    .hero__left, .hero__right {
        width: 100%;
    }
}

/* Movil */
@media screen and (max-width: 600px) {
    .nav__lista {
        flex-wrap: wrap;
        gap: 20px;
    }

    
}